.round_photo{
    width:110px;
    height:110px;
    border:4px solid #ddddde;
    -moz-border-radius: 59px;
    -webkit-border-radius: 59px;
    border-radius:59px;
    behavior:url(PIE.htc);
    position:absolute;
    top:50px;
    left:70px;
    }